@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fbfcff;
}

.sweet-ok {
    background-color: #475569;
}

.sweet-ok:hover {
    background-color: #2c3542 !important;
}

.sweet-ok:active {
    background-color: #2c3542 !important;
}